.welcome_page {
    padding: 15px;
    width: -webkit-fill-available;
    width: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth{
    width: -webkit-fill-available;
    width: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
}

.auth form .field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auth .choose_auth{
    display: flex;
    flex-direction: row;
    width: 250px;
}

.auth .choose_auth button {
    width: 50%;
}

.auth .register{
    display: none;
}