

*{
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: white;
    --text-color: black;
}

.dark_mode{
    --bg-color: rgb(39, 39, 39);
    --text-color: white;
}

@media (prefers-color-scheme: dark){
    :root {
        --bg-color: white;
        --text-color: black;
    }
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: var(--bg-color);
    color: var(--text-color);
}
a {
    font-family: "IBM Plex Sans", sans-serif;
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

.disableLink {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: 0.6;
}

input {
    background-color: #1B6392;
    color: white;
}
html{
    width: 100%;
}
img {
    width: 35px;
    height: 35px;
}

button {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    padding: 15px;
    outline: none;
    border: none;
}

button:hover{
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.red{
    background-color: red;
}

.errorMsg {
    color: red;
}

.active {
    background-color: #0f0f83;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
}

header{
    background-color: #1B6392;
    display: flex;
    flex-direction: row;
    padding: 15px;

}

header .todo_logo {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.sidebar {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 58px;
    background-color: #0f0f83;
    min-height: 89.3vh;
    transition: all 0.5s;
    row-gap: 60px;
}
.sidebar:hover {
    cursor: pointer;
}
.sidebar>div{
    overflow: hidden;
    padding: 8px;
    transition: all 0.5s;
}

.sidebar>div a{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}

.sidebar>div:hover{
    background-color: gray;
    border-radius: 5px;
}

